<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Artist name:</strong>
    <%= album.artist_name %>
  </p>

  <p>
    <strong>Cover photo url:</strong>
    <%= album.cover_photo_url %>
  </p>

  <p>
    <strong>String:</strong>
    <%= album.string %>
  </p>

</div>
